body {
    font-family: 'Lato', sans-serif;
}

.row {
    /* border: 3px solid white; */
    /* border-top: 0px; */
    /* border-bottom: 0px; */
}

[class*="col"]:first-child {
    border: 0px;
}

[class*="col"] {
    padding: .5rem;
    background-color: #54b6f1;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    /* text-align: center; */
    margin: 5px;
}
button {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

#MAL {
    border: none;
    background-color: #54b6f1;
    justify-content: flex-end;
}

/* #MAL:hover {
    background-color: #7ec8f7;
    border-radius: 10%;
} */